#head {
    text-align: center;
}

#left {
    float: left;
    width: 20%;
    padding-left: 1%;
}
#center {
    float: left;
    width: 60%;
    padding-left: 1%;
}
#right {
    float: left;
    width: 17%;
    padding-left: 1%;
}

#footer{
    border: 1px black solid;
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
}
