*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./assets/background.jpg) center;
    background-size: cover;
    flex-direction: column;
}

h1{
    color: white;
}

.container{
    /* background-color: white; */
    width: 1200px;
    height: 800px;
    border-radius: 1em;
    padding: 2em;
    /* margin: 2em; */
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.col{
    border: 2px solid red;
    border-radius: 1em;
    display: flex;
    flex: auto;
    gap: 1em;
}

#outer-1{
    border: none;
    flex:2;
    display: flex;
    flex-direction: column;
}
#outer-2{
    border: none;
    flex: 1;
    flex-direction: column;
}
#outer-3{
    border: none;
    flex: 1;
    flex-direction: column;
}

.row{
    border: 2px solid red;
    border-radius: 1em;
    display: flex;
    flex: auto;
    flex-direction: row;
    gap: 1em;
}

#inner-11{
    border: none;
    flex-direction: row;
}
#inner-12{
    border: none;
    flex-direction: column;
}


footer{
    color:white
}
a{
    color: white;
}
