*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: #2c3e50; */
}
body{
    background-color: blueviolet;
    background-image: url('./assets/background.jpg');
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;;
}

.navbar{
    display: flex;
    width: auto;
}

.logo{
    width: 10em;
    flex: 2;
    background-color: azure;
    cursor: pointer;
}

.navlist{
    display: inline;
    flex: 3;
    list-style: none;
}

.navitem{
    display: inline-block;
    padding: 0 20px;
}

.navlist li a{
    transition: all 0.3s ease 0s;
}

.navlist li a:hover{
    color: #3498db;
}

button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
#navbtnlink{
    margin: 0;
    padding: 0;
    background-color: brown;
    height: 20px;
}
