*{
    color: white;
}

body{
    background-color: blueviolet;
    background-image: url('./assets/background.jpg');
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;;
}

.navbar{
    display: flex;
    width: auto;
}

.logo{
    width: 10em;
    flex: 2;
    background-color: azure;
}

.navlist{
    display: inline;
    flex: 3;
    list-style: none;
}

.navitem{
    display: inline;
}

.navbutton a{
    flex: 1;
    height: 20px;
    background-color: azure;
    margin: 0;
    padding: 0;
}

#navbtnlink{
    margin: 0;
    padding: 0;
    background-color: brown;
    height: 20px;
}
