*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    padding: 30px 10%;
    /* background-color: #4b79a6d5; */
}
body{
    background-image: url('./assets/background.jpg');
}

.navbar{
    display: flex;
    width: auto;
    justify-content: flex-end;
    align-items: top;
}

.logo_wrap{
    width: 12em;
    height: 6em;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    order: 3;
    background-color: azure;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    /* border: 1px solid white; */
    border-radius: 50%;
}

.navlist{
    display: inline;
    list-style: none;
    order: 1;
}

.navitem{
    display: inline-block;
    padding: 0 20px;
    font-weight: 500;
    font-size: 36px;
    color: #edf0f1;
    text-decoration: none;
}

.navlist li a{
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navlist li a:hover{
    color: #3498db;
}

.cta{
    order: 2;
}
button{
    background: none;
    /* background-color: #3498db; */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover{
    background-color: #2980b9;
}