body {
    margin: 0;
    padding: 0;
    min-width: 525px;
}
header {
    float: left;
    width: 100%;
}
footer{
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    font-style: italic;
}
#main {
    width: 100%;
    display: flex;
}
#secondary_content{
 order: -1;
 width: 200px;
 background-color: #52f471;
}
#tertiary_content{
width: 125px;
background-color: #f452d5;
}
#main_content{
    position: relative;
    float: left;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
h1 {
    margin: 0;
}
#secondary_content ul {
    list-style: none;
    margin: 12px 0px 0px 12px;
    padding: 0px;
}
#secondary_content li a:link, #secondary_content li a:visited {
    font-size: 12pt;
    font-weight: bold;
    padding: 3px 0px 3px 3px;
    color: #000000;
    text-decoration: none;
    display: block;
}
#secondary_content li a:hover, #secondary_content li a:active {
    font-size: 12pt;
    font-weight: bold;
    padding: 3px 0px 3px 3px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
