* {
  background-color: rgb(224, 225, 221);
}

body {
  border-style: solid;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Cambria', 'Trebuchet MS', sans-serif;
}

a {
  color: #002147;
  text-decoration: none;
}

header {
  position: sticky;
}

#name-big {
  text-align: center;
  text-decoration: rgb(132, 0, 255) underline;
}

.headshot {
  border-radius: 50%;
  background-color: rgb(224, 225, 221);
}

.contact {
  width: 100%;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.navbar img {
  width: 20px;
  height: 20px;
  margin: auto;
}

.ficon {
  width: 20px;
  height: 20px;
  /* float: left; */
  /* padding-left: 10px; */
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

hr {
  margin: 0;
  padding: 0;
}

.objective {
  margin: 12px;
}

li.list-group-item {
    background-color: rgb(224, 225, 221);
    text-decoration-color: rgb(224, 225, 221);
    text-color: rgb(224, 225, 221);
}

/* main h2 {
  background-color: rgba(90, 90, 134, 0.514);
  padding: 10px;
} */

/* main h2::first-letter {
    font-size: xx-large;
} */

footer {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

footer img {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 10px;
}
