* {
    background-color: rgb(224, 225, 221);
}

h1 {
    color: #0d1b2a;
    letter-spacing: 0.5em;
    text-align: center;
    text-decoration: rgb(132, 0, 255) overline underline;
    font-size: 3em;
}

main h2 {
    background-color: rgba(90, 90, 134, 0.514);
}

/* main h2::first-letter {
    font-size: xx-large;
} */

a {
    color: #002147;
    text-decoration: none;
}

footer {
    text-align: right;
}

.contact-bar {
    width: 100%;
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
}
/* .contact-bar li {
    display: inline-block;
} */
/* body{
    font-size: medium;
    color:rgb(13, 14, 14);
    font-family:'Courier New', Courier, monospace;
}

head{
    font-size: x-small;
} */
