<h1>Search TVMAZE for your favorite keywords or shows.</h1>

<section>
    <form id="formSearch" method="get" action="http://localhost:3000/results">
        <input type="text" id="inputSearch" name="inputSearch" placeholder="Search your favorite show">
        <button type="submit" id="buttonSearch">Search!</button>
        <a href="http://localhost:3000/" ><button type="button" id="clear">Clear All</button></a>
    </form>
</section>
